header{width:100%;height:50px;margin-top:0px;text-align:center;background-color:#003262;position:fixed;z-index:2}
body{margin:auto;padding:0;color:#000;-webkit-transition:all;-moz-transition:all;-ms-transition:all;
    -o-transition:all;transition:all;font-family:'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size:14.4px;line-height:170%;text-align:justify;font-weight:400}
h1,h2,h3,h4,h5,h6,div.title{font-weight:600}
h4,div.title,div.ftsubheader{font-size:100%}
ul,ol,dl{margin:0;padding:5px 10px 30px 30px;width:calc(100% - 30px)}
img.img_responsive{width:100%;height:auto;display:block;}
img.avatar{width:100%;height:auto;display:block;border-radius:50%;}
div.container a:link,
div.container a:visited{color:#0055AA;text-decoration:none}
div.ftheader a:link,
div.ftheader a:visited,
div.ftsubheader a:link,
div.ftsubheader a:visited{color:#FFFFFF;text-decoration:none}
div.title a:link,
div.title a:visited{color:#000000}
div.authors a:link,
div.authors a:visited{color:#777777}
div.content a:hover,
div.content a:hover div.text,
div.ftsubheader a:hover{text-decoration:underline}
span.jw{color:#000000;text-decoration:underline}
span.author{white-space:nowrap}
div.outercontainer{text-align:center}
div.header,div.container,div.content,div.img,div.text{display:inline-block;zoom:1;display*:inline;text-align:left;margin-left:auto;margin-right:auto;vertical-align:middle;max-width:810px}
/*div.header,div.container{min-width:330px}*/
div.header{min-width:330px}
/*div.container{min-width:800px}*/
div.img,div.text{padding-left:10px;padding-right:10px}
div.header{line-height:50px}
div.ftheader,div.ftsubheader{display:inline-block;color:#FFF}
div.ftheader{float:left;padding-left:15px;}
div.ftsubheader{float:right;padding-left:20px;padding-right:20px}
div.outercontainer,div.content{padding-top:0px;padding-bottom:0px}
div.container,div.content{width:100%}
div.body{margin-top:50px}
div.content{margin-bottom:10px}
div.heading{text-align:left;position:relative;z-index:1}
div.heading div.img{padding:30px 30px 30px 10px;max-width:30%}
div.heading div.img img{width:200px}
div.heading span.tag{padding-right:15px}
div.heading ul{padding-bottom:0px}
div.publication{padding-top:0px;padding-bottom:20px}
div.publication div.img{max-width:300px;padding-right:0px;padding-top:5px}
div.publication div.text{max-width:650px;text-align:left;vertical-align:top}
div.authors{font-size:100%;color:#777777}
span.venue,span.highlight,
div.publication span.tag{padding-right:0px;font-size:100%}
span.highlight,
span.highlight a:link,
span.highlight a:visited{color:#BB2222}
span.venue,
span.venue a:link,
span.venue a:visited{color:seagreen}
span.fullvenue{padding-left:8px}
/*div.anchor{border-top:50px solid transparent;margin-top:-50px}*/
div.anchor{border-top:25px solid transparent;margin-top:0px}
div.h-anchor{border-top:20px solid transparent;margin-top:0px}
div.recruit{display:none}

.container-box .box{
  display: flex;
  align-items: center;
  padding: 15px 25px 15px 15px;
}
.container-box .box i{
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
/*.container-box i:hover{
  color: #000;
}*/
.container-box .logo{
  height: 70px;
  width: 70px;
  margin-right: 15px;
}
.container-box .logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box .right{
  display: flex;
  flex-direction: column;
}
.box .right .text-1{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0px 0px 4px 0px;
}
.box .right .text-2{
  font-size: 14px;
  color: #666;
  margin: 2px 0 8px 0;
}
.box .right a{
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 3px 10px 3px 10px;
  background: linear-gradient(to right, #ff0000 72%, #ffffff 28%);
  border-radius: 5px;
  border-right: 1px solid #ff0000;
  border-left: 1px solid #ff0000;
  border-top: 1px solid #ff0000;
  border-bottom: 1px solid #ff0000;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
}
.box .right span{
  color: #000 !important;
  text-align: center;
  text-decoration: none;
  white-space:nowrap;
}
.box .right a:hover{
  /*background: linear-gradient(to right, #c91d22 72%, #eeeeee 28%)*/
  text-decoration: none;
}
.container #hide{
  display: none;
}

@media only screen and (max-width: 599px) {
    div.ftsubheader{padding-left:10px;padding-right:10px}
    div.heading div.img{padding-right:80px}
    div.publication div.img{display:none}
    div.publication div.text{text-align:left}
    div.content,div.publication{padding-top:0px;padding-bottom:10px}
    body{font-size:100%}
}
@media only screen and (min-width: 600px) {
    div.heading div.img{padding-right:calc(35px)}
    div.heading div.info{padding-right:calc(40% - 350px);}
    div.publication div.img{width:23%}
    div.publication div.text{max-width:70%;text-align:left}
}

.topnav {
  overflow: hidden;
  background-color: #003262;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff !important;
  text-align: center;
  padding: 13px 12.5px;
  text-decoration: none;
  font-size: 14.4px;
}

.topnav .icon {
  display: none;
  padding: 19px 12.5px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
